<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Principal</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-with, user-scalable=no, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="fonts.css">
    </head>
<!---------------------------------Cabecera / Barra de Navegacion -------------------------------------->
    <body>
        <div id="contenedor" class="container">
        <header>
            <div class="container">
                <h1><img src="img/logo_mw.jpg" class="img-responsive"></h1>
                <nav id="navbar_top" class="navbar navbar-default navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1" aria-expanded="false">
                                <span class="sr-only">Menú</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>     
                            <a href="principal.html" class="navbar-brand">MAC-WIL</a>
                            <a href="iniciar_sesion.html" class="btn btn-link navbar-toggle collapsed">Registrarse/Ingresá</a>
                        </div>  
                        <div class="collapse navbar-collapse" id="navbar-1">
                            <ul class="nav navbar-nav">
                                <li><a href="principal.html">Inicio</a></li>
                                <li><a href="consultas.html">Consultas</a></li>
                                <li><a href="comercializacion.html">Comercialización</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos y Servicios<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="uniformes_escolares.html">Uniformes Escolares</a></li>
                                        <li><a href="prendas.html">Prendas en General</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="serigrafia.html">Serigrafia</a></li>
                                        <li><a href="bordados.html">Bordados</a></li>
                                        <li><a href="sublimacion.html">Sublimaciones</a></li>
                                    </ul>
                                </li>
                            </ul>
                            
                            <form action="" class="navbar-form navbar-right" role="search">
                                <a id="btn_sesion" href="iniciar_sesion.html" class="btn btn-default">Registrarse/Ingresá</a>
                                <div class="form-group">
                                    <input type="search" class="form-control" placeholder="Buscar">
                                </div> 
                            </form>
                        </div>
                        
                    </div>
                </nav>
            </div>
        </header>
        
<!------------------------------------ Quienes Somos / Redes Sociales -------------------------------------->
    
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <h2><em>Algo sobre Nosotros</em></h2> 
                    <br>
                    <p class="text-justify"><em><strong>"MAC-WIL"</strong> es una empresa fundada en el año 1992 por sus dueños Garcia Manuel y Gimenez Lilia en la ciudad de Ituzaingo-Corrientes, dedicada fundamentalmente a la confección, pintado y bordado de todo tipo de idumentaria. Actualmente cuentan con un taller conformado por 8 maquinas industriales (4 Overlocks, 2 collareta y 2 rectas) donde trabajan un total de 4 personas confeccionando las prendas y otras 3 personas realizando las tareas de bordados computalizados, impresiones serigraficas y estampados o sublimaciones.<br>Tenemos como objetivo primordial el compromiso con nuestros clientes ofreciendole nuestre mejor y mayor disposición en todo aquello que sea de su interes brindandole lo mejor de nuestros productos y servicios y la mas calida atención en cada visita.</em>
                    <br>
                    <br>
                </div>
                <div class="social col-md-1">
                    <ul>
                        <li><a href="https://web.facebook.com/Mac-Wil-404135026316700/?ref=page_internal&_rdc=1&_rdr" class="icon-facebook" target="_blank"></a></li>
                        <li><a href="" class="icon-twitter" target="_blank"></a></li>
                        <li><a href="" class="icon-instagram" target="_blank"></a></li>
                        <li><a href="mailto:wili_2808@hotmail.com" class="icon-envelop" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
<!------------------------------------ TABS de Productos y Servicios -------------------------------------->
        <div class="container">
            <ul id="tab_productos" class="nav nav-tabs responsive nav-justified" role="tablist">
    			<li role="presentation" class="active">
    				<a href="#uniformes" aria-controls="uniformes" role="tab" data-toggle="tab">Uniformes Escolares</a>
                </li>
    			<li role="presentation">
    				<a href="#prendas" aria-controls="prendas" role="tab" data-toggle="tab">Prendas en General</a>
    			</li>
    			<li role="presentation">
    				<a href="#serigrafia" aria-controls="serigrafia" role="tab" data-toggle="tab">Serigrafia</a>
    			</li>
    			<li role="presentation">
    				<a href="#bordados" aria-controls="bordados" role="tab" data-toggle="tab">Bordados</a>
    			</li>
    			<li role="presentation">
    				<a href="#sublimacion" aria-controls="sublimacion" role="tab" data-toggle="tab">Sublimaciones</a>
    			</li>
	        </ul>
                
            <div class="tab-content responsive">
                <div role="tabpanel" class="tab-pane in active" id="uniformes">
                    <div class="thumbnail">
                        <h3>UNIFORMES ESCOLARES</h3>
    				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita id nobis blanditiis enim tempore quibusdam corporis provident veniam nulla, minima. Sit excepturi possimus, natus suscipit! Voluptate ea, illo illum voluptatem.</p>
                        <a href="uniformes_escolares.html" class="btn btn-primary">Ver Mas ...</a><br><br>
                        <a href=""><img src="img/escolares.jpg" class="img-responsive img-thumbnail"></a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="prendas">
                    <div class="thumbnail">
    				    <h3>PRENDAS EN GENERAL</h3>
    				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita id nobis blanditiis enim tempore quibusdam corporis provident veniam nulla, minima. Sit excepturi possimus, natus suscipit! Voluptate ea, illo illum voluptatem.</p>
                        <a href="prendas.html" class="btn btn-primary">Ver Mas ...</a><br><br>
                        <img src="img/chombas.jpg" class="img-responsive img-thumbnail">
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="serigrafia">
                    <div class="thumbnail">
    				    <h3>SERIGRAFIA</h3>
    				    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita id nobis blanditiis enim tempore quibusdam corporis provident veniam nulla, minima. Sit excepturi possimus, natus suscipit! Voluptate ea, illo illum voluptatem.</p>
                        <a href="serigrafia.html" class="btn btn-primary">Ver Mas ...</a><br><br>
                        <img src="img/serigrafia.jpg" class="img-responsive img-thumbnail">
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="bordados">
                    <div class="thumbnail">
                        <h3>BORDADOS</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita id nobis blanditiis enim tempore quibusdam corporis provident veniam nulla, minima. Sit excepturi possimus, natus suscipit! Voluptate ea, illo illum voluptatem.</p>
                        <a href="bordados.html" class="btn btn-primary">Ver Mas ...</a><br><br>
                        <img src="img/bordados.jpg" class="img-responsive img-thumbnail">
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="sublimacion">
                    <div class="thumbnail">
                        <h3>SUBLIMACIONES</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita id nobis blanditiis enim tempore quibusdam corporis provident veniam nulla, minima. Sit excepturi possimus, natus suscipit! Voluptate ea, illo illum voluptatem.</p>
                        <a href="sublimacion.html" class="btn btn-primary">Ver Mas ...</a><br><br>
                        <img src="img/remeras-sublimadas.jpg" class="img-responsive img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
<!------------------------------------ FOOTER -------------------------------------->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <p><a href="principal.html" class="">MAC-WIL</a></p>
                    </div>
                    <div class="col-xs-9">
                        <ul class="list-inline text-right">
                            <li><a href="principal.html">Inicio</a></li>
                            <li><a href="consultas.html">Contacto</a></li>
                            <li><a href="terminos_condiciones.html">Terminos de Uso</a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </footer>
<!------------------------------------------------------------------------------------>
        <script src="js/jquery-3.2.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/responsive-tab.js"></script>
        <script type="text/javascript"> fakewaffle.responsiveTabs(["xs","sm"]);</script>
        </div>
    </body>
</html>